.login {
    width: 100vw;
    height: 100vh;
    background: url('./images/login-bg.jpg') no-repeat center center/cover;
    .login-header{
        padding: 10px;
        height: 15vh;
        display: flex;
        align-items: center;
        img{
            width: 80px;
            height: 80px;
        }
        .name{
            margin-left: 10px;
            color:rgb(198, 86, 36);
        }
    }
    .wrapper{
        display: flex;
        justify-content: center;
        height: 85vh;
        .login-box{
            margin-top: 10vh;
            height: 300px;
            width: 400px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 20px;
            .title{
                text-align: center;
                h1{
                    font-weight: bold;
                    font-size: 20px;
                    color:rgb(198, 86, 36);
                    margin: 5px 0 20px 0;
                }
            }
            .input-box{
                input{
                    margin-bottom: 20px;
                    width: 100%;
                    padding: 2px 8px;
                }
            }
            .button-box{
                display: flex;
                justify-content: space-between;
                button{
                    width: 45%;
                    background-color:rgb(198, 86, 36);
                    border: none;
                    color:white;
                    padding: 5px;
                    font-size: 12px;
                    font-weight: 500;
                }
                .button-login{
                }
                .button-register{
                    width: 45%;
                }
            }
            .message-box{
                text-align: center;
                margin-top: 30px;
                h5{
                    color: rgba(0, 0, 0, 1);
                    font-size: 10px;
                }
                ul{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 20%;
                    margin-top: 5px;
                    li{
                        width: 35px;
                        font-size: 8px;
                        img{
                            height: 35px;
                        }
                    }
                }
            }
        }
    }

}