#menuBox {
    width: 90px;
    background-color: #fff;
    overflow-y: auto;
    #menu{
        .tab{
            display: inline-block;
            width: 100%;
            height: 20px;
            line-height: 20px;
            margin: 12px 0;
            text-align: center;
            box-sizing: border-box;
            font-size: 15px;
        }
        .tabFocus{
            border-left: 8px solid rgba(198, 86, 36, 0.4);
        }
    }
    #menu::-webkit-scrollbar {
        width: 0;
    }
}