#me{
    margin-bottom: 50px;
    height: 100%;
    #wrapper{
        #topBox{
            background-color:rgb(198, 86, 36);
            height: 200px;
            position: relative;
            #settingIcon{
                height: 20px;
                width: 20px;
                position: absolute;
                top:15px;
                right: 20px;
            }
            #user{
                position: absolute;
                box-sizing: border-box;
                width: 90%;
                padding: 8px;
                height: 160px;
                top: 70px;
                left:5%;
                background-color: #FFFFFF;
                border-radius: 15px;
                border-color: #aaaaaa;
                box-shadow:0px -1px 3px #aaaaaa;
                #avatar{
                    height: 64px;
                    width: 64px;
                    position: absolute;
                    top: -20px;
                    left: 10px;
                    border-radius: 90px;
                }
                #name{
                    margin-left: 80px;
                    display: flex;
                    align-items: center;
                    height: 36px;
                    .user-info {
                        height: 26px;
                        display: flex;
                        line-height: 26px;
                        .user-content {
                            font-size: 24px;
                            font-weight: 500;
                            color: #333;
                        }
                    }
                }
                #links{
                    margin-top: 16px;
                    ul{
                        display: flex;
                        width: 100%;
                        li{
                            display: inline-block;
                            width: 25%;
                            text-align: center;
                            color: rgb(179, 179, 179);
                        }
                        li:nth-child(-n+3){
                            // border-right: solid rgba(179, 179, 179,0.3);
                        }
                    }
                }
            }
        }
        .inner-wrapper {
            box-sizing: border-box;
            width: 100%;
            padding: 10px;
            #orderBox{
                box-sizing: border-box;
                margin-top: 34px;
                width: 100%;
                background-color: #fff;
                border-radius: 8px;
                padding: 10px;
                #caption{
                    display: flex;
                    justify-content: space-between;
                    height: 30px;
                    line-height: 30px;
                    font-size: 12px;
                    align-items: center;
                    border-bottom: 1px solid rgba(179, 179, 179,0.2);
                    padding: 0 4px;
                    h1{
                        margin: 0;
                        font-size: 16px;
                        font-weight: 500;
                        color: #333;
                    }
                    span{
                        color: rgb(179, 179, 179);
                    }
                }
                #stages{
                    margin: 12px 0px 4px;
                    ul{
                        display: flex;
                        justify-content: space-around;
                        li{
                            width: 20%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            font-size: 14px;
                            font-weight: 300;
                            .stagesIcon{
                                height: 24px;
                                width: 24px;
                                margin-bottom: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}