.address{
    .address-head{
        height: 50px;
        width: 100%;
        position: fixed;
        display: flex;
        top: 0;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
        border-width: 0.2px;
        .return-icon{
            position: absolute;
            left: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            .r-icon{
                width: 10px;
                height: 10px;
                border: 1px #333 solid;
                border-top: none;
                border-right: none;
                transform: rotate(45deg);
            }
        }
        h1{
            font-size: 16px;
            width: 100%;
            text-align: center;
        }
        .add-address{
            position: absolute;
            right: 12px;
            font-size: 12px;
        }
    }
    .address-main-box{
        background-color: #fff;
        margin-top: 50px;
        // padding: 10px 10px 0 10px;
        padding: 0;
    }
}