.address{
    .address-head{
        height: 50px;
        width: 100%;
        position: fixed;
        display: flex;
        top: 0;
        align-items: center;
        justify-content: space-between;
        margin-top: 0;
        border-width: 0.2px;
        .return-icon{
            margin-left: 10px;
            width: 8%;
            display: flex;
            justify-content: center;
            align-items: center;
            .r-icon{
                width: 12px;
                height: 12px;
                border: #bfbfbf solid;
                border-top: none;
                border-right: none;
                transform: rotate(45deg);
            }
        }
        h1{
            font-size: 18px;
            width: 65%;
            text-align: center;
        }
        .add-address{
            width: 22%;
            font-size: 14px;
        }
    }
    .address-main-box{
        background-color: #fff;
        margin-top: 50px;
        // padding: 10px 10px 0 10px;
        padding: 0;
    }
}