#search{
    height: 100%;
    color: #000000;
    #searchBox{
        display: flex;
        padding: 8px;
        justify-content: space-around;
        align-items: center;
        .return-icon {
            width: 20px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .icon {
                box-sizing: border-box;
                width: 8px;
                height: 8px;
                border: 1px solid #333;
                border-top: none;
                border-right: none;
                transform: rotate(45deg);
            }
        }
        input{
            box-sizing: border-box;
            flex: 1;
            height: 30px;
            line-height: 22px;
            border: 1px solid #ff4b00;
            border-radius: 15px;
            padding: 4px 12px;
            font-size: 14px;
            color: #666;
        }
        #confirmSearch{
            box-sizing: border-box;
            width: 40px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            color: #666;
        }
    }
    #displayBox{
        margin: 4px 8px 0px;
        background-color: #fff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        padding: 16px;
        #titleBox{
            display: flex;
            position: relative;
            align-items: center;
            #discard{
                height: 16px;
                width: 16px;
                position: absolute;
                right: 0px;
            }
        }
        .title {
            font-size: 16px;
        }
        .spanBox{
            padding-right: 50px;
            margin: 12px 0px;
            .tagBox{
                display: inline-block;
                font-size: 12px;
                padding: 3px 8px 3px 8px;
                background-color:rgb(245, 245, 245) ;
                border: rgb(245, 245, 245) solid;
                border-radius: 20px;
                color: rgb(99, 99, 99);
                margin: 0px 5px 10px 0px;
            }
        }
    }
    .transition {
        margin: 0 8px;
        width: calc(100% - 16px);
        height: 60px;
        background: linear-gradient(to bottom, #fff, #eee);
    }
}