.commodity-detail{
    .header {
        background-color: rgb(250, 250, 250);
            .searchBox {
                display: flex;
                padding: 8px;
                justify-content: space-around;
                align-items: center;
        
                .return-icon {
                    width: 20px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
        
                    .icon {
                        box-sizing: border-box;
                        width: 8px;
                        height: 8px;
                        border: 1px solid #333;
                        border-top: none;
                        border-right: none;
                        transform: rotate(45deg);
                    }
                }
        
                input {
                    box-sizing: border-box;
                    flex: 1;
                    height: 30px;
                    line-height: 22px;
                    border: 1px solid #ff4b00;
                    border-radius: 15px;
                    padding: 4px 12px;
                    font-size: 14px;
                    color: #666;
                }
        
                .confirmSearch {
                    box-sizing: border-box;
                    width: 40px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    color: #666;
                }
            }
    }
    .wrapper{
        background-color: #FFF;
        margin-bottom: 10px;
        .commodity-image {
            padding-top: 100%;
        }
        .commodity-info{
            padding: 15px 20px;
            .commodity-price{
                font-size: 25px;
                color: rgb(255, 65, 7);
            }
            .commodity-name{
                margin-top: 10px;
                font-size: 20px;
                font-weight: 700;
            }
        }
        .commodity-comment{
            padding: 15px;
            display: flex;
            justify-content: space-between;
            font-size: 15px;
            .commodity-comment-title{
            }
            .commodity-comment-show-all{
                color:rgb(255, 65, 0);
            }
        }
        .commodity-description-image{
            padding-top: 100%;
        }
    }
    .comments{
        .comments-show{
            background-color: #FFF;
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
            padding: 20px 20px 5px 20px;
            .comment-item{
                display: flex;
                margin-bottom: 20px;
                .avatar{
                    width: 40px;
                    height: 40px;
                    border-radius: 40px;
                    border: solid;
                    margin-right: 10px;
                }
                .right-box{
                    .right-top-box{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        margin-bottom: 15px;
                        margin-top: 5px;
                    }
                }
            }
        }

        .add-comment{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding:10px 20px;
            .make-comment-input{
                flex: 1;
            }
            .confirm{
                width: 70px;
                padding: 0 10px;
                text-align: center;
            }
        }
    }   

}