.modify-info{
    .head{
        height: 50px;
        display: flex;
        justify-content: space-between;
        padding: 10px 15px;
        font-size: 16px;
        .title{
            font-size: 18px;
        }
        .finish{
            color: rgb(237, 71, 33);
        }
    }
    .wrapper{

    }
    .input-boxes{
        .input-box{
            display: flex;
            align-items: center;
            background-color: #FFF;
            padding: 10px;
            .title-head{
                width: 100px;
                font-size: 15px;
            }
            .input-wrapper{
                flex: 1;
                .el-input__inner {
                    border: none;
                    color: #000;
                    
                }
            }
        }
    }
}