* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

body {
    font-family: "PingFang SC", "BlinkMacSystemFont", "Microsoft YaHei Light", "Microsoft YaHei", "Ubuntu", "WenQuanYi Micro Hei", ;
    background-color: #eee;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
    background-color: #f64b00 !important;
    border-color: #f64b00 !important;
}

img,
video {
    height: auto;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

.el-message-box {
    text-align: center;
    width: 220px;
    height: 120px;
    border-radius: 3px;
}

.el-message-box__header {
    display: none;
}

.el-message-box__content {
    padding: 20px 20px;
}

.el-message-box .el-button {
  padding: 10px 10px;
}
.el-message-box__content {
  padding: 20px 10px;
}

.el-button:focus {
    color: #C65624;
    border-color: #C65624;
}

.el-button:hover {
    color: #C65624;
    border-color: #C65624;
}

.el-button--text {
  color: #C65624;
}
.el-button--primary {
  background-color: #C65624;
  border-color: #C65624;
    padding: 10px 10px;
}

.el-switch__core {
    background-color: rgb(224, 178, 156);
    border-color: rgb(224, 178, 156);
}

.el-switch.is-checked .el-switch__core {
    background-color: rgb(198, 86, 36);
    border-color: rgb(198, 86, 36);
}

.el-input__inner::-webkit-input-placeholder {
    color: #bfbfbf;
}

.el-input__inner {
    outline-color: rgb(198, 86, 36);
}

.el-input__inner:hover {
    border-color: rgba(198, 86, 36, .6);
}