* {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: "PingFang SC", "BlinkMacSystemFont", "Microsoft YaHei Light", "Microsoft YaHei", "Ubuntu", "WenQuanYi Micro Hei", ;
    background-color: #eee;
}

.am-checkbox.am-checkbox-checked .am-checkbox-inner {
    background-color: #f64b00 !important;
    border-color: #f64b00 !important;
}