.add-address {

    .add-address-head {
        height: 50px;
        width: 100%;
        background-color: rgb(243, 243, 243);
        position: fixed;
        display: flex;
        top: 0;
        align-items: center;
        margin-top: 0;
        .return-icon{
            position: absolute;
            left: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            .r-icon{
                width: 10px;
                height: 10px;
                border: 1px #333 solid;
                border-top: none;
                border-right: none;
                transform: rotate(45deg);
            }
        }
        h1{
            width: 100%;
            font-size: 16px;
            text-align: center;
        }

        .add-save {
            position: absolute;
            right: 16px;
            color: #ff4b00;
        }
    }

    .add-address-main-box {
        margin-top: 50px;

        .input {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #eee;
            background: #fff;

            .el-input__inner {
                border: none;
            }
        }

        .concret-address {
            display: flex;
            box-sizing: border-box;
            height: 56px;
            padding: 10px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            .el-input {
                width: 84px;
                .el-input__inner {
                    line-height: 36px;
                    border: none;
                    border-radius: 0;
                }
            }
            .tips {
                line-height: 36px;
                text-align: center;
                flex: 1;
            }
        }

        .a-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            height: 56px;
            background-color: #FFF;
        }

    }

}