.add-address {

    .add-address-head {
        height: 50px;
        width: 100%;
        background-color: rgb(243, 243, 243);
        position: fixed;
        display: flex;
        top: 0;
        align-items: center;
        margin-top: 0;

        img {
            width: 10%;
        }

        h1 {
            width: 80%;
            font-size: 20px;
            text-align: center;
        }

        .add-save {
            width: 10%;
            color: red;
        }
    }

    .add-address-main-box {
        margin-top: 50px;

        .input {
            width: 100%;
            padding: 10px;
            border-bottom: 1px solid #eee;
            background: #fff;

            .el-input__inner {
                border: none;
            }
        }

        .concret-address {
            display: flex;
            box-sizing: border-box;
            height: 56px;
            padding: 10px;
            background-color: #fff;
            border-bottom: 1px solid #eee;
            .el-input {
                width: 84px;
                .el-input__inner {
                    line-height: 36px;
                    border: none;
                    border-radius: 0;
                }
            }
            .tips {
                line-height: 36px;
                text-align: center;
                flex: 1;
            }
        }

        .a-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            height: 56px;
            background-color: #FFF;
        }

    }

}