#sort {
    position: fixed;
    margin-bottom: 50px;
    width: 100vw;

    .container {
        display: flex;
        margin-top: 47px;
        height: calc(100vh - 97px);

        #wrapper {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            .imgBox {
                height: 140px;
                overflow: hidden;
                img {
                    width: 100%;
                }
            }

            #caption {
                width: 100%;
                text-align: center;
                margin: 10px 0px;
            }

            #displayBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                text-align: center;
                .box {
                    width: 30%;

                    div {
                        padding-top: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    h1 {
                        font-size: 13px;
                        margin-top: 0;
                    }
                }
            }
        }
    }
}