#sort {
    position: fixed;
    margin-bottom: 50px;
    width: 100vw;

    .container {
        display: flex;
        margin-top: 47px;
        height: calc(100vh - 97px);

        #wrapper {
            flex: 1;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;

            .imgBox {
                height: 200px;
                overflow: hidden;
                img {
                    width: 100%;
                    // object-fit: cover;
                }
            }

            #caption {
                width: 100%;
                text-align: center;
                margin: 10px 0px;
                color:rgb(198, 86, 36);
            }

            #displayBox {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                text-align: center;
                background-color: #FFF;
                padding: 15px 10px 5px 10px;
                .box {
                    width: 30%;

                    div {
                        padding-top: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .commodity-name {
                        font-size: 13px;
                        margin-top: 0;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}