#sellWell{
    background-color: #FFFFFF;
    #wrapper{
        padding: 10px 20px 10px 20px;
        h1{
            text-align: center;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        #bottomBox{
            text-align: center;
        }
    }
}